{% extends 'party/base_party.html' %}
{% block title %}{{party.title}} / Personajes{% endblock %}
{% block header %}<h1>{{party.title}}</h1>{% endblock %}
{% block content %}
  <section data-role="collapsible-set" data-theme="c" data-content-theme="d">
    <h2>Personajes</h2>
    {% for character in characters %}
      <section data-role="collapsible">
        <h3>{{character.name}}/{{character.player}}</h3>
        <p>
          <a href="/character/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Ver</a>
          {% if user == party.master or character.player == user %}
            <a href="/character/edit/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Editar</a>
            <a href="/character/remove/{{party.id}}/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Quitar</a>
          {% endif %}
        </p>
      </section>
    {% endfor %}
  </section>
{% endblock %}