{% extends 'base.html' %}
{% block title %}{{party.title}}{% endblock %}
{% block header %}<h1>{{party.title}} ({{party.status}})</h1>{% endblock %}
{% block content %}
	<section class="description" id="master_name"><a href="/profile/{{party.master}}" data-inline="true">{{party.master}}</a></section>
    <section class="description">{{party.description}}</section>
    {% if user != party.master %}
      <a href="/party/add_me/{{party.id}}" data-role="button" data-theme="a" data-mini="true">Unirme</a>
    {% else %}
      <a href="/party/add_scene/{{party.id}}" data-role="button" data-theme="a" data-mini="true">Nueva escena</a>
    {% endif %}

    <a href="/party/scenes/{{party.id}}" data-role="button" data-theme="a" data-mini="true">Escenas</a>
    <a href="/party/characters/{{party.id}}" data-role="button" data-theme="a" data-mini="true">Personajes</a>
{% endblock %}
