{% extends 'base.html' %}
{% block title %}{{party.title}}{% endblock %}
{% block header %}<h1>{{party.title}} ({{party.status}})</h1>{% endblock %}
{% block content %}
	<section class="description" id="master_name"><a href="/profile/{{party.master}}" data-inline="true">{{party.master}}</a></section>
    <section class="description">{{party.description}}</section>
	<a href="/party/add_me/{{party.id}}" data-role="button" data-inline="true" data-theme="a">Unirme</a>

  <div data-role="collapsible-set" data-theme="c" data-content-theme="d">
    {% for character in characters %}
          <div data-role="collapsible">
                <h3>{{character.name}}/{{character.player}}</h3>
                <p>
                  <a href="/character/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Ver</a>
                  {% if user == party.master or character.player == user %}
                    <a href="/character/edit/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Editar</a>
                    <a href="/character/remove/{{party.id}}/{{character.id}}" data-role="button" data-inline="true" data-mini="true">Quitar</a>
                  {% endif %}
                </p>
          </div>
      {% endfor %}
  </div>
{% endblock %}
