{% extends 'base.html' %}
{% block title %}Partidas disponibles{% endblock %}
{% block header %}
    <h1>Partidas abiertas</h1>
{% endblock %}
{% block navigation %}
    {% if user.username == '' %}
        <a href="/user/new" data-role="button" data-inline="true" data-mini="true">Nuevo usuario</a>
    {% else %}
        <a href="/party/new" data-role="button" data-inline="true" data-mini="true">Nueva party</a>
    {% endif %}
{% endblock %}
{% block content %}
<ul data-role="listview" id="parties_list">
    {% for party in parties %}
        <li>
            <strong><a href="/party/{{party.id}}" data-inline="true">{{party.title}}</a></strong> por: <a href="/profile/{{party.master}}" data-inline="true">{{party.master}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}